// background-colors
$black-color: #0c0c0c;
$gray-color: #5b5b5b;

// main-colors
$white-color: #ffffff;
$green-color: #bbd708;

// accent-colors

// style-effects
$gradient-color: linear-gradient(142.26deg, #bbd708 2.588%, #ddff00 124.798%);
