@use '@/app/styles/variables.module.scss';

.header {
  background-color: variables.$black-color !important;
  height: 77px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  @media (min-width: 1921px) {
    padding: 0 0;
  }

  @media (max-width: 1280px) {
    padding: 0 60px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.logo {
  width: 160px;
  height: 28px;
  background: url(/images/es-motors-logo.svg) no-repeat center;
  background-size: cover;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}
