@use '@/app/styles/variables.module.scss';

@function calculateTop($divider) {
  @return calc(100vw / #{$divider});
}

@function calculateRight($divider) {
  @return calc(100vw / #{$divider});
}

@function responsive-value($min-width, $max-width, $min-value, $max-value) {
  $slope: ($max-value - $min-value) / ($max-width - $min-width);
  $base: $min-value - ($slope * $min-width);
  @return calc(#{$base} + #{$slope} * 100vw);
}

@function responsive-width($min-width, $max-width, $min-value, $max-value) {
  $slope: ($max-value - $min-value) / ($max-width - $min-width); // Уклон (slope)
  $base: $min-value - ($slope * $min-width); // Базовое значение
  @return calc(#{$base} + #{$slope} * 100vw); // Возвращаем значение для calc
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 1000px;
  color: variables.$white-color;
  padding: 70px 0;

  @media (max-width: 1280px) {
    padding: 40px 0;
    gap: 40px;
    max-height: 580px;
  }

  @media (max-width: 1024px) {
    // height: 0vh;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
    // max-height: 500px;
  }
}

.imageContainer {
  position: absolute;
  // right: -1100px;
  // top: -450px;
  right: calculateRight(-1.545);
  // top: calculateTop(-4.266);
  // top: calculateTop(-4);
  top: responsive-value(1024px, 1920px, -100px, -470px);
  width: calc(100vw * 1.275);
  max-width: 2448px;
  max-height: 1405px;
  // width: 2448px;
  // height: 1405px;
  height: calc(100vw / 1.366);

  @media (min-width: 1920px) {
    width: 2448px;
    height: 1405px;
    top: -450px;
    right: -1100px;
  }

  @media (max-width: 1024px) {
    width: 1457px;
    height: 838px;
    top: -150px;
    right: -720px;
  }

  @media (max-width: 768px) {
    width: calc(100vw * 1.5);
    height: calc(100vw / 1.136);
    top: responsive-value(480px, 768px, 50px, -0px);
    right: responsive-value(480px, 768px, -320px, -450px);
  }

  @media (max-width: 480px) {
    width: 655px;
    height: 376px;
    top: 100px;
    right: -240px;
  }

  @media (max-width: 479px) {
    width: calc(100vw * 1.55);
    height: calc(100vw / 1.15);
    top: responsive-value(320px, 480px, 150px, 100px);
    right: responsive-value(320px, 480px, -200px, -280px);
  }

  &:hover {
    .headlight_left {
      opacity: 1;
    }
    .headlight_right {
      opacity: 1;
    }
  }
}

.heading {
  display: inline-block;
  height: 192px;
  text-align: center;
}

.green {
  color: variables.$green-color;
}

.headlight_left {
  position: relative;
  top: responsive-value(1025px, 1920px, 485px, 960px);
  left: responsive-value(1025px, 1920px, 65px, 115px);
  width: responsive-width(1025px, 1920px, 90px, 185px);

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}

.headlight_right {
  position: relative;
  top: responsive-value(1025px, 1920px, 485px, 960px);
  left: responsive-value(1025px, 1920px, 255px, 460px);
  width: responsive-width(1025px, 1920px, 185px, 348px);

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}
