@use '/src/app/variables.module.scss';

.shopInfo {
  padding: 0 100px;
}

.descriptionBlock {
  width: 100%;
  display: flex;
  flex-direction: row;

  gap: 20px;
  padding-top: 80px;
}

.description {
  &_address {
    display: flex;
    align-items: center;
    gap: 10px;
    color: variables.$green-color;
  }

  &_right {
    flex: 1;
  }

  &_main {
    padding-top: 60px;
    color: variables.$white-color;

    & ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    & li {
      position: relative;
      padding-left: 38px;
    }

    & li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-color: variables.$green-color;
      border-radius: 3px;
    }
  }
}

.map {
  width: 50%;
  height: 500px;
}
