.button {
  all: unset;
  padding: 12px 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
}

.outline {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  z-index: 1;
  transition: border 0.3s linear, color 0.3s linear;

  &:hover {
    border: 1px solid transparent;
    color: black;
  }

  &:hover &_gradient {
    opacity: 1;
  }
}

// &_gradient {
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   background: green;
//   transition: opacity 0.3s linear;
// }
