.feedbackModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  width: 100%;
  padding: 50px 60px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    padding: 30px 20px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;

  & img {
    position: absolute;
    right: 0;
    bottom: -60px;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.form {
  flex: 1;
  width: 100%;
}
