@use '@/app/styles/variables.module.scss';

.accordion {
  width: 100%;
  color: variables.$white-color;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
}

.accordionItem {
  &.active {
    .accordionContent {
      max-height: 200px;
      padding-top: 15px;
    }
  }
}

.accordionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid variables.$green-color;
  transition: max-height 0.3s ease, padding 0.4s ease;
}
