.typography {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 0.8px;
}

.title {
  font-family: var(--font-open-sans);
  font-weight: 800;
  font-size: 160px;
  letter-spacing: 0;
  line-height: 192px;

  @media (max-width: 1568px) {
    font-size: 120px;
    line-height: 144px;
  }

  @media (max-width: 1280px) {
    font-size: 100px;
    line-height: 120px;
  }

  @media (max-width: 1024px) {
    font-size: 80px;
    line-height: 110px;
  }

  @media (max-width: 768px) {
    font-size: 70px;
    line-height: 90px;
  }

  @media (max-width: 640px) {
    font-size: 44px;
    line-height: 50px;
  }

  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.header {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.subheader {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0;
}

.body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
}

.caption {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
}

.promo {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 6%;
}
